@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(212, 45%, 89%);
    --Light-Blue: hsl(220, 15%, 55%);
    --Dark-Blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--Grey)
}

.qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    margin: auto;
    border-radius: 5%;
    max-width: 300px;
    background-color: var(--White);
    padding-top: 15px;
    font-size: 15px;
    justify-content: ;
    max-height: 450px;

    /* Centering the subject */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    background-color: var(--White);
}

.qr img {
    border-radius: 5%;
    max-height: 270px;
}

.qr h1 {
    font-size: 22px;
    max-width: 260px;
    color: var(--Dark-Blue)
}

.qr p {
    color: var(--Light-Blue)
